*{
box-sizing:border-box	
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
font-family: 'Poppins', sans-serif!important;
}

.button 
{
	background:#5A82EF!important;
	padding:8px 40px;
	text-decoration:none!important;
	border-radius:10px
	
}
.navbar-brand img
{
	width:100%;
	max-width:260px
}
    .swiper-container {
      width: 100%;
      height: 100%;
	  border-radius:20px
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.slide-first
{
background:#daebff;	
padding:50px 0
}
.slide-secound
{
background:#f1e9ff;
padding:50px 0
}
.slide-third
{
background:#ffcafd;
padding:50px 0
}
.slide-four
{
background:#ffecf3;
padding:50px 0
}
.banner
{
	padding:0 30px
}
.slide-first h2
{
	font-size:70px;
	color:#4D5273;
	line-height: 1em;
	padding-top:80px
}
.slide-first p
{
	font-size:20px;
	color:#5E636F;
}
.learn-button a
{
	background:#5A82EF;
	color:white;
	font-size:18px;
	padding:10px 30px;
	text-decoration:none!important
}
.learn-button:hover a
{
	background:#0c4af1
}
.slide-secound h2
{
	font-size:42px;
	color:#4D5273;
	line-height: 1em;
	padding-top:86px
}
.slide-secound p
{
	font-size:24px;
	color:#5E636F;
}
.slide-third h2
{
	font-size:70px;
	color:#734D56;
	line-height: 1em;
	padding-top:86px
}
.slide-third p
{
	font-size:24px;
	color:#5E636F;
}
.slide-four h2
{
	font-size:70px;
	color:#734D56;
	line-height: 1em;
	padding-top:86px
}
.slide-four p
{
	font-size:24px;
	color:#5E636F;
}
.connect-button a
{
	background:#ED2E60;
	color:white;
	font-size:18px;
	padding:10px 30px;
	text-decoration:none!important;
}
.connect-button:hover a
{
	color:#ED2E60;
	border:1px solid #ED2E60;
	background:#fff
}
.secound-banner
{
	padding-top:70px
}
.secound-banner h2
{
	font-size:70px;
	line-height:1em
}
.secound-banner p
{
	font-size:24px
}
.link-button
{
	display:block;
	margin:0 auto
}
.link-button a
{
	font-size:18px;
	text-decoration:none!important
}
.service
{
	padding-top:60px;
	background:#EFF6FD
}
.service h2
{
	font-size:70px;
	font-weight:bold
}
.service p
{
	font-size:18px;
}
.service span
{
	font-size:24px;

}
.service h4
{
	font-size:24px;
	font-weight:bold;
}
.services-button
{
	display:block;
	margin:0 auto
}
.services-button a
{
font-size:18px;
color:#ED2E60 !important;
border:1px solid #ED2E60;	
padding:8px 30px;
text-decoration:none!important
}
.services-button:hover a
{
	color:#fff!important;
	background:#ED2E60
}
.case-studies h2
{
	font-size:70px
}
.case-studies h3
{
	font-size:50px
}
.case-studies span
{
	font-size:22px;
	color:#5E636F
}
.microservice
{
background:#CAE1FF;
border-radius:20px
}
.microservice h2
{
	font-size:70px
}
.microservice p
{
	font-size:24px
}
.ERPNext
{
background:#DACFFF;
border-radius:20px	
}
.ERPNext h2
{
	font-size:70px
}
.ERPNext p
{
	font-size:24px
}
.Highly
{
	padding-left:90px
}
.footer
{
background:#3C4761	
}
.footer h4 a
{
	font-size:32px;
	color:#fff!important;
	text-decoration:none!important
}
.footer p a 
{
	font-size:22px;
	color:#fff!important;
	text-decoration:none!important;
	font-weight:400
}
.footer span
{
	color:white;
	font-size:18px
}
.submit-button a
{
color:white;
background:#5A82EF;
text-align:center;
display:block;
padding:10px 0;
margin-top:20px;
text-decoration:none!important
}
.submit-button:hover a
{
	background:#0c4af1
}
.form-group
{
	margin-bottom:0px
}
.pin-image img
{
width:200px	
}
.company h2 
{
	font-size:70px;
	padding-top: 20px;
}
.company p
{
	font-size:24px
}
.work-btn a
{
	font-size:18px;
	color:#5D9CEF;
	border:1px solid #5D9CEF;
	text-decoration:none!important;
	padding:5px 25px;
}
/**team**/
.team
{
	background:#FCF9DC;
	border-radius:18px
}
.team p
{
font-size:30px	;
text-align:left;
line-height:1.3em;
padding:30px 0 0
}
.team span
{	
font-size:20px	
	
}
/**our-team**/
.our-team h2
{
	font-size:70px
}
.export
{
overflow:hidden;	
}
.export img
{
transition: all ease-in-out 0.4s;
width:100%;
 border-radius: 18px
}
.export:hover img
{
transform: scale(1.1);
}
.illum-fore
{
position:absolute;
opacity: 0;
color:white;
width: 100%;
height: 100%;
left:0;
bottom:0px;	
background:rgba(0,0,0,0.5);

}
.illum-fore:hover
{
	opacity: 1;
	 border-radius: 18px
}
.illum-fore p
{
	position:relative;
	left:0;
	top:120px;
	line-height:0.9em
}
.clicky h3
{
font-size:44px
}
.clicky p
{
font-size:24px
}
.clicky
{
	background:#EEF2F8;
	border-radius:18px
}
.find-job a
{
	font-size:18px;
	color:#fff;
	background:#5A82EF;
	padding:5px 25px;
	text-decoration:none!important
}
.find-job:hover a
{
	background:#1954f5
}
.happy-clint h3
{
	font-size:43px;
	text-align:center;
	font-weight:700
}
.happy-clint img
{
	width:100%
}
.studies h2
{
font-size:70px;
font-weight:bold
}
.studies h3
{
	font-size:50px;
}
.studies span
{
	color:#5E636F;
	font-size:24px
}
.studies p
{
	font-size:24px
}
.view-case a
{
	color:#ED2E60;
	border:1px solid #ED2E60;
	padding:5px 25px;
	text-decoration:none;
}
.view-case:hover a
{
	background:#ED2E60;
	color:#fff
}
.studies img
{
	width:100%
}
.oauth
{
margin-top:-120px
}
.all-view
{
display:block;
margin:0 auto

}
.all-view a
{
	color:#5A82EF;
	text-decoration:none!important;
	
}
.all-view:hover a
{
	color:#1954f5
}
.journey
{
background:#C3E7F6	
}
 .journey h3
 {
	 font-size:42px
 }
 .journey p
 {
	color:#5E636F;
	font-size:22px
 }
 .our-stacks h2
 {
	 font-size:70px
 }
  .our-stacks p
 {
	 font-size:24px;
	 color:#5E636F
 }
 