*{
box-sizing:border-box	
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
font-family: 'Poppins', sans-serif!important;
}

.button 
{
	background:#5A82EF!important;
	padding:8px 40px;
	text-decoration:none!important;
	border-radius:10px
	
}
.navbar 
{
	margin:20px 0!important
}
.navbar-brand img
{
	width:100%;
	max-width:260px
}
    .swiper-container {
      width: 100%;
      height: 100%;
	  border-radius:20px
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
 button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}
button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
}
.navbar-nav 
{
    float:right!important;
}
.navbar-nav li.last.leaf {
    margin-left: 30px;
	
}
.navbar-nav li a {
	color:#000;
}
.navbar-nav li.last.leaf a{
	border:1px solid #5A82EF;
	color:#fff;
   outline:none !important;
       border-radius: 5px;
}
.navbar-nav li.last.leaf a:hover {
   color:#5A82EF;
   background:#fff !important;
   border:1px solid #5A82EF;
   outline:none !important
   
}
.banner
{
	margin-top:30px
}
.banner p
{
	margin:10px 0 20px 0
}
.slide-0
{
background:url('../images/erweret.png')no-repeat;	
background-size:cover;
padding:48px 0;
border-radius:18px
}
.slide-1
{
background:url('../images/cdv.png')no-repeat;	
background-size:cover;
padding:48px 0;
border-radius:18px
}
.slide-2
{
background:url('../images/czcfs.png')no-repeat;	
background-size:cover;
padding:48px 0;
border-radius:18px
}
.slide-3
{
background:url('../images/Rectangle340.jpg')no-repeat;	
background-size:cover;
padding:48px 0;
border-radius:18px
}
.banner
{
	padding:0 30px
}
.slide-0 h2
{
	font-size:70px;
	color:#4D5273;
	line-height: 1em;
	padding-top:80px;
	font-weight:bold
}
.slide-0 p
{
	font-size:20px;
	color:#5E636F;
	padding:10px 0
}
.learn-button a
{
	background:#5A82EF;
	color:white;
	font-size:18px;
	padding:8px 30px;
	text-decoration:none!important;
	border-radius:4px
}
.learn-button:hover a
{
	background:#0c4af1
}
.slide-1 h2
{
	font-size:47px;
	color:#4D5273;
	line-height: 1em;
	padding-top:86px;
	font-weight:bold
}
.slide-1 p
{
	font-size:24px;
	color:#5E636F;
	padding:10px 0
}
.slide-2 h2
{
	font-size:70px;
	color:#734D56;
	line-height: 1em;
	padding-top:86px;
	font-weight:bold
}
.slide-2 p
{
	font-size:24px;
	color:#5E636F;
	padding:10px 0
}
.slide-3 h2
{
	font-size:70px;
	color:#734D56;
	line-height: 1em;
	padding-top:86px;
	font-weight:bold
}
.slide-3 p
{
	font-size:24px;
	color:#5E636F;
	padding:10px 0
}
.finest 
{
	margin:0 30px
}
.connect-button a
{
	background:#ED2E60;
	color:white;
	font-size:18px;
	padding:10px 30px;
	text-decoration:none!important;
}
.connect-button:hover a
{
	color:#ED2E60;
	border:1px solid #ED2E60;
	background:#fff
}
.secound-banner
{
	padding-top:70px
}
.secound-banner h2
{
	font-size:70px;
	line-height:1em;
	font-weight:700
}
.secound-banner p
{
	font-size:24px
}
.link-button
{
	display:block;
	margin:42px auto
}
.link-button a
{
	font-size:18px;
	text-decoration:none!important
}
.service
{
	padding:60px 0;
	background:#EFF6FD
}
.service h2
{
	font-size:70px;
	font-weight:bold;
	padding-bottom:16px
}
.web
{
	padding:40px 0
}
.service p
{
	font-size:18px;
}
.service span
{
	font-size:24px;

}
.service h4
{
	font-size:24px;
	font-weight:bold;
}
.services-button a
{
font-size:18px;
color:#ED2E60 !important;
border:1px solid #ED2E60;	
padding:8px 30px;
text-decoration:none!important;
display: block;
margin: 18px auto;
max-width: 168px;
}
.services-button:hover a
{
	color:#fff!important;
	background:#ED2E60
}
.case-studies h2
{
	font-size:70px;
	font-weight: bold;
    padding: 20px 0;
}
.case-studies h3
{
	font-size:50px
}
.case-studies span
{
	font-size:22px;
	color:#5E636F
}
.case-studies p
{
	font-size:22px;
}
.microservice
{
background:#CAE1FF;
border-radius:20px;
padding:48px 0;
margin:48px 0
}
.microservice h2
{
	font-size:70px
}
.microservice p
{
	font-size:24px;
	padding:18px 0
}
.ERPNext
{
background:#DACFFF;
border-radius:20px;
padding:48px 0;
margin: 0 0 48px 
}
.ERPNext h2
{
	font-size:70px
}
.ERPNext p
{
	font-size:24px;
	padding:18px 0
}
.Highly
{
	padding-left:90px
}
.footer
{
background:#3C4761;
padding:48px 0
}
.footer h4 a
{
	font-size:32px;
	color:#fff!important;
	text-decoration:none!important
}
.footer p a 
{
	font-size:22px;
	color:#fff!important;
	text-decoration:none!important;
	font-weight:400
}
#block-block-9 p a, #block-block-11 span {
	color: #EBEBEB!important;
}
.footer span
{
	color:white;
	font-size:18px
}
#block-webform-client-block-14 .webform-submit
{
color:white;
background:#5A82EF;
text-align:center;
display:block;
padding:10px 0;
margin-top:20px;
text-decoration:none!important;
width: 100%;
}
#block-webform-client-block-14 .webform-submit:hover
{
	background:#0c4af1
}
#block-webform-client-block-14 .grippie { display: none; }
.pin-image img
{
width:200px	
}
.company
{
margin:100px 0	
}
.company h2 
{
	font-size:70px;
	padding-top: 20px;
}
.company p
{
	font-size:24px
}
.Domain
{
margin-bottom:60px
}
.work-btn a
{
	font-size:18px;
	color:#5D9CEF;
	border:1px solid #5D9CEF;
	text-decoration:none!important;
	padding:5px 25px;
}
.work-btn:hover a
{
background:#5D9CEF;
color:#fff
}
/**team**/
.team
{
	background:#FCF9DC;
	border-radius:18px;
	padding:50px 0px
}
.team p
{
font-size:30px	;
text-align:left;
line-height:1.3em;
padding:30px 0 0
}
.team span
{	
font-size:20px	
	
}
.btn-connect a
{
	background:#ED2E60;
	color:white;
	font-size:18px;
	padding:10px 30px;
	text-decoration:none!important;
	margin-bottom:90px
}
.btn-connect:hover a
{
	color:#ED2E60;
	border:1px solid #ED2E60;
	background:#fff
}
}
/**our-team**/
.our-team
{
padding:40px 0;	
}
.our-team h2
{
	font-size:70px;
	padding:30px 0
}
.Developer
{
	margin-bottom:40px
}
.export
{
overflow:hidden;	
}
.export img
{
transition: all ease-in-out 0.4s;
width:100%;
 border-radius: 18px
}
.export:hover img
{
transform: scale(1.1);
}
.illum-fore
{
position:absolute;
opacity: 0;
color:white;
width: 100%;
height: 100%;
left:0;
bottom:0px;	
background:rgba(0,0,0,0.5);

}
.illum-fore:hover
{
	opacity: 1;
	 border-radius: 18px
}
.illum-fore p
{
	position:relative;
	left:0;
	top:120px;
	line-height:0.9em
}
.top-banner
{
background:url('../images/Rectangle340b.png')no-repeat;	
background-size:cover;
padding:70px 0px;
border-radius:18px;
margin:0 30px
}

.region-inner-region-after-content {
	    display: inline-block;
    width: 100%;
}
.top-banner h2
{
	font-size:70px;
	color:#734D56;
	line-height: 1em;
	padding-top:40px
	color:#4D5273;
	font-weight:bold
}
.top-banner p
{
	font-size:24px;
	color:#5E636F;
	padding:20px 0
	max-width:518px
}
.top-banner img
{
	width:100%
}
.page-node-33 .service {
	background:none;
}
.page-node-33 .services-button {
	display: none;
}
.clicky h3
{
font-size:44px
}
.clicky p
{
font-size:24px;
padding:8px 0
}
.clicky
{
	background:#EEF2F8;
	border-radius:18px;
	padding:40px 0;
	margin:40px 0
}
.find-job a
{
	font-size:18px;
	color:#fff;
	background:#5A82EF;
	padding:5px 25px;
	text-decoration:none!important
}
.find-job:hover a
{
	background:#1954f5
}
.happy-clint
{
padding:30px 0;
 margin:30px 0	
}
.happy-clint h3
{
	font-size:43px;
	text-align:center;
	font-weight:700;
	padding-bottom:20px
}
.happy-clint img
{
	width:100%
}
.studies h2
{
font-size:70px;
font-weight:bold
}
.studies h3
{
	font-size:50px;
}
.studies span
{
	color:#5E636F;
	font-size:24px
}
.studies p
{
	font-size:24px
}
.view-case
{
	margin:30px 0 60px
}
.view-case a
{
	color:#ED2E60;
	border:1px solid #ED2E60;
	padding:5px 25px;
	text-decoration:none;
}
.view-case:hover a
{
	background:#ED2E60;
	color:#fff
}
.studies img
{
	width:100%
}
.oauth
{
margin-top:-120px
}
.all-view
{
display:block;
margin:60px auto

}
.all-view a
{
	color:#5A82EF;
	text-decoration:none!important;
	
}
.all-view:hover a
{
	color:#1954f5
}
.journey
{
background:#C3E7F6	;
padding:50px 0
}
 .journey h3
 {
	 font-size:42px
 }
 .journey p
 {
	color:#5E636F;
	font-size:22px
	max-width:880px;
	display: block;
    margin: 0 auto;
}
 }
 .journey span
 {
	 font-size:22px;
	 display:inline-block
 }
  .journey a
 {
	 font-size:16px;
	 color:#5E636F;
	 display:inline-block
 }
 .our-stacks h2
 {
	 font-size:70px
 }
  .our-stacks p
 {
	 font-size:24px;
	 color:#5E636F
 }
 .our-stacks .nav > li > a:hover, .our-stacks .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
	outline: none;
}
 /* Tabs*/
.section {
    padding: 60px 0;
}

.section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    color: #000;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 20px;
}
.nest img
{
width:100%
}

.circular img
{
	width:100%;
	border-radius:100%;
	width:60px;
	height:60px
}
.studies-first
{
padding-top:40px
}
.studies-secound
{
padding-top:40px
	
}
/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid black;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
	padding-right: 75px;
	border-bottom: 1px solid black;
}
.panel-tabs > li.active {
    border-bottom: 4px solid black;
}


.our-stacks .panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
	margin-bottom: 4px;
    line-height: .85;
    color: #000!important;

	
}

.our-stacks .panel-tabs > li > a:hover
{
    color: #000;  
}


.carousel-control.left {
	background: none;
}

.carousel-control.right {
	background: none;
}

.front .page-header {
	display: none;
}
#block-webform-client-block-14{
	margin-top: 15px;
}

.front #block-system-main, .not-front .page-header { display: none; }


#block-webform-client-block-14 .webform-confirmation p {
    color: white;
    font-size: 18px;
	margin-bottom: 15px;
}
#block-webform-client-block-14 .links {
    display: none;
	
}
.swiper-slide {
	height: auto !important;
}

/**microservice**/
.watch-video
{
padding:60px 0	
}
.watch-video h2
{
font-size:70px;
font-weight:bold
}
.watch-video p
{
font-size:24px;
padding:10px 0;
max-width:500px
}
.structure 
{
margin:50px 0
}
.structure p
{
	font-size:28px;
	color:#5E636F
}
.structure img
{
	width:100%;
	max-width:280px
}
.Cons
{
background:url('../images/xcv.png')no-repeat;	
background-size:cover;	
padding:40px 0
}
.Cons h3
{
font-size:43px;
padding:20px 0
font-weight:700
}
.icons
{
	margin:20px 0
}
.icons img
{
display:inline-block;
float: left;
 padding-right: 10px;
width: 30px
}	
.icons p
{
display:inline;
color:#5E636F;
font-size:18px;    
float: left;
width: 80%;
}	
.architecture
{
padding:50px	
}
.architecture h2
{
	font-size:70px;
	padding-bottom:30px;
	font-weight:bold
}
.architecture img
{
	width:100%;
	max-width:700px;
}
.architecture p
{
font-size:24px;
max-width: 1074px;
display:block;
margin:50px auto;
color:#5E636F
}

.pros h3
{
font-size:43px;
padding:20px 0;
font-weight:700
}
.future h3
{
	font-size:42px;
	text-align:center;
	padding:50px 0
}
.pros
{
	position:relative
}
.software
{
position:absolute;
background:url('../images/hand@2x.png')no-repeat;	
width: 300px;
height: 300px;
bottom: -40px;
right: 70px;
z-index: -1;
background-size: cover;
}
.pl-5 {
	padding-left: 3rem!important
}
img.enter_icon {
    width: 204px;
    height: 168px;
}
.blog-banner
{
	background:url('../images/czcfs.png')no-repeat;
	background-size:cover;
	padding:48px 0;
	border-radius:18px;
	margin:0 10px
}
.blog-banner h2
{
	font-size:64px;
	color:#734D56;
	font-weight:700;
	line-height: 1em;
	padding-top:80px
}
.blog-banner p
{
	font-size:24px;
	color:#5E636F;

}
.blog-banner img
{
	width:100%;
	max-width:450px
}
.Email-id
{
	background:#EEF9FE;
	border-radius:8px;
	padding:30px 0;
	margin:100px 0 40px
}
.Email-id h4
{
	font-size:32px;
	color:#5E636F;
	padding-left:20px
	
}
.blog-form
{
	background:#EEEEEE!important;
	border-radius:4px 0 0 4px;
	border:none;
}
.form-blog
{
	
	background:#5A82EF!important;
	color:#fff!important;
	text-align:center;
	border-radius:0 4px 4px 0; 
	border:none;
}
.submit-blog
{
padding: 12px 0!important;
}
.categorie 
{
	padding-bottom:40px
}
#block-quicktabs-blog-is-categories h2
{
	font-size:42px;
	padding-bottom:20px
}
ul.quicktabs-tabs li {
   padding: 16px;
}
ul.quicktabs-tabs li a
{
	color:#5E636F!important;
	border:1px solid #5E636F;
	text-decoration:none!important;
	border-radius:18px;
	padding: 8px 40px;
}
ul.quicktabs-tabs li.active a
{
	color:#fff!important;
	background:#337ab7!important;
	text-decoration:none!important;
	border-radius:18px;
	padding: 8px 40px;	
}
#quicktabs-container-blog_is_categories {
	clear: both;
}
#block-quicktabs-blog-is-categories .view-content .row
{
	margin-top:40px
}
#block-quicktabs-blog-is-categories .view-content .row img
{
width:100%;
max-width:200px
}
#block-quicktabs-blog-is-categories .view-content .row span.text-left a
{
	font-size:18px;
	color:#5A82EF;
	display:block
}
#block-quicktabs-blog-is-categories .view-content .row h4
{
	font-size:20px;
	font-weight:600;
	line-height:1.3em
}
#block-quicktabs-blog-is-categories .view-content .row p
{
	text-align: left;
}
.track a
{
text-decoration:none!important;
}
.track
{
margin:20px 0 50px
}
.job-banner
{
	background:url('../images/xvcx.png')no-repeat;
	background-size:cover;
	padding:48px 0;
	border-radius:18px;
	margin:0 10px
}
.job-banner img
{
	width:100%;
	max-width:450px
}
.job-banner h2
{
	font-size:69px;
	color:#73684D;
	font-weight:700;
	line-height: 1em;
	padding-top:80px
}
.job-banner span
{
	color:#ED2E60
}
.job-banner p
{
color:#5E636F;
font-size:24px	
}
.work
{
	padding:70px 0
}
.work h3
{
	font-size:42px;
	font-weight:500
}
.learn
{
	background:#FCF4AF;
	padding:30px 0;
	border-radius:18px
}
.learn h4
{
	font-size:28px;
	color:#5E636F;
	padding-left:50px
}
.learn-more
{
	padding-top:17px
}
.learn-more a
{
	background:#5A82EF;
	color:#fff;
	font-size:18px;
	padding:8px 30px;
	text-decoration:none!important	
}
.learn-more:hover a
{
	background:#0c4af1
}
.accordion
{
	padding:50px 0	
}
.faq-content .panel-title > a.accordion-toggle::before, .faq-content a[data-toggle="collapse"]::before  {
    content:"−";
    float: left;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
	margin-left:10px;
	color:#fff;
	font-size:13px;
	font-weight:300;
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	
	border-radius:50%;
	text-align:center;
	font-size:10px;
	background:#000;
	float: right;
}
.panel-title
{
	padding-left:15px
}
.faq-content .panel-title > a.accordion-toggle.collapsed::before, .faq-content a.collapsed[data-toggle="collapse"]::before  {
    content:"+";
	color:#fff;
	font-size:10px;
	font-weight:300;
	background:#333;
	float: right;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body 
{
 border: none;
 background: #f3f3f3 !important;
 border-radius: 0 0 18px 18px !important;
}
.panel-heading span
{
	font-size:24px;
	
}
.panel-heading p
{
	font-size:18px;
	color:#5E636F
	
}
.panel-heading a:hover {
	text-decoration: none;
}
.panel-body .views-field-title {
	display: none;
}
.faq-content{float:left; width:100%;}
.faq-content .panel-heading{padding-left:0px; border-radius:18px 18px 0 0 !important;}
.faq-content .panel-heading a{text-decoration:none;margin-top:-40px}
.faq-content .panel{border-radius:18px !important;
 margin: 20px auto;
max-width: 450px;
}
.faq-content .panel-default{border-radius:18px !important;}
.faq-content .panel-heading{background:#f3f3f3 !important; color:#666666;}
.faq-content .panel-body{font-size:14px; color:#666666;}
.faq-saelect{background:#f3f3f3; padding:15px; border-bottom:2px solid #666666; float:left; width:100%; margin-bottom:20px; margin-top:-10px;}
.faq-saelect span{font-size:16px; color:#333; margin-right:20px;}
.faq-saelect select{border:1px solid #dcdcdc; color:#999999; width:300px; height:40px;}
.faq-content .panel{border-top:none !important; border-right:none !important; border-left:none !important;}
.faq-content .panel-body{border:1px solid #f3f3f3;}

.fill-form
{
margin:40px 0	
}
.fill-form h2
{
	font-size:70px;
	max-width: 300px;
    float: right;
	padding-top:0;
	margin-top:0
}
#block-webform-client-block-52 .form-control
{
background:#EEEEEE	
}
.fill-up
{
max-width:424px	
}
#block-webform-client-block-52 .form-actions button 
{
margin-top:20px;
color: #fff;
background: #5A82EF;	
width:100%
}
.choose-us
{
	background:url('../images/erweret.png')no-repeat;
	background-size:cover;
	padding:48px 0;
	border-radius:18px;
	margin:0 10px
}
.choose-us img
{
	width:100%;
	max-width:450px
}
.choose-us h2
{
	font-size:69px;
	color:#4D5273;
	font-weight:700;
	line-height: 1em;
	padding-top:80px
}
.choose-us p
{
color:#5E636F;
font-size:24px;
padding-top:10px;
}
.sooo
{
margin-top:80px ;
background:url('../images/faq-bg.png')no-repeat;
background-size:cover;
padding:50px 0
}
.sooo h2
{
	font-size:55px;
	font-weight:700;
	max-width:444px
}
.sooo h3
{
	font-size:37px;
	font-weight:700;
	max-width:754px;
	margin:0 auto;
	padding-top:68px;
	line-height:1.2em
}
.FAQ
{
	background:#fff;
	padding:20px;
	border-radius:18px;

}
.FAQ span
{
color:#5A82EF;
font-size:24px;
font-weight:600	
}
.FAQ p
{
font-size:18px;
padding-top:10px;
color:#5E636F
}

.build
{
	margin-top:30px	
}


.navbar-toggle {
    border: 1px solid #000;
}
.navbar-toggle .icon-bar {
	background: #000;
}
.fs40 {
	font-size: 40px;
}
.fs54 {
	font-size: 54px;
}
.fs60 {
	font-size: 60px;
}
.fs53 {
	font-size: 53px;
}
/** resposive **/
@media only screen and (max-width:990px)
{
.navbar-brand img
{
width:100%;
max-width:170px;
}
.nav>li>a
{
position:relative;
display:block;
padding:10px 7px;
}
}
@media only screen and (max-width:768px)
{
.navbar-brand img
 {
width:100%;
max-width:200px;
}
.web
{
padding: 28px 0;
text-align: center;
}
.slide-0
{
text-align:center!important
}	
.slide-3 img
{
width:100%;
max-width:640px;
}
.slide-3 h2 
{
font-size:70px;
}
.slide-3 p
{
font-size:20px;
}
.case-studies
{
text-align:center
}
.case-studies h2
{
text-align:center;
font-size:48px;
margin-bottom:0
}
.case-studies h3
{
font-size:38px;
}
.Highly
{
text-align:center;
margin-bottom:30px
}
.secound-banner {
    padding-top:50px;
    text-align:center;
}
.secound-banner p {
    font-size:22px;
    text-align:center;
}
.top-banner
{
padding:30px 0	
}
.top-banner h2
{
font-size:62px;
padding-top:0;
text-align:center;
}
.top-banner p
{
text-align:center;	
}
.btn-connect
{
	text-align:center;
	margin-bottom:40px
}
.company p
{
font-size:24px;
}
.company 
{
    margin:20px 0;
}
.company p
{
text-align:center
}
.work-btn 
{
margin:38px 0
}
/**microservice**/
.slide-0 h2 
{
font-size:42px;
padding-top:0
}


#block-block-6 {
	    margin-top: 20px;
}
.slide-0 p 
{
font-size:20px;
}
.icons img {
display: none;	
}
.oauth
{
margin-top:0
}
.circular img
{
display:block;
margin:0 auto	
}
.journey span
{
padding-left:290px;
}
.journey a
{
padding-left:208px;
}
.nest
{
text-align:center
}
.nest img
{
max-width:280px;
}
.develop h4
{
text-align:center!important;
}
.develop p
{
text-align:center!important;
}
.develop span
{
text-align:center!important;
}
#quicktabs-blog_is_categories ul li a
{
display:block;
margin:20px auto;
width:60%
}
.all a
{
display:block;
margin:0 auto;
width:60%
}
.fill-form h2
{
font-size:42px;
float:none;
text-align:center
}
.form-control
{
width:100%;
display:block;
margin:0 auto;
}
.fill-up p
{
text-align:center
}
.work h3
{
font-size: 34px;
}
.learn
{
text-align:center;
}
.job-banner h2
{
text-align:center
}
.job-banner p 
{
    font-size: 22px;
    text-align: center;
	padding:16px 0
}
.learn-button
{
text-align:center;
padding-bottom:30px
}
.job-banner
{
text-align:center;
}
.fill-form 
{
    margin: 40px auto;
    display: block;
    max-width: 418px;
}
.nav>li>a {
    
padding: 10px 4px;
}

.architecture img {
    width: 100%;
    max-width: 500px;
}
.top-banner img {
    width: 100%;
    max-width: 500px;
}
.blog-banner h2
{
text-align:center
}
.blog-banner p
{
text-align:center
}
.blog-banner img {
    display: block;
    margin: 0 auto;
}
#block-quicktabs-blog-is-categories h2 {
    text-align: center;
}
.Email-id .form-control
{
	margin-left:55px
}
.Email-id h4 {
  padding-left:0;
  text-align:center
}
.navbar-nav li.last.leaf {
	margin-left: 0px;
}
}














@media only screen and (max-width:576px)
{
	.fs40 {
	font-size: 20px;
	text-align: center;
}
.fs54 {
	font-size: 30px;
	text-align: center;
}
.fs60 {
	font-size: 30px;
	text-align: center;
}
.fs53 {
	font-size: 30px;
	text-align: center;
}
.slide-0 
{
padding:16px 0	
}
.slide-1 
{
padding:16px 0
}
.slide-2
{
padding:16px 0
}
.slide-3
{
padding:16px 0	
}
.slide-0 h2 
{
    font-size:38px;
    padding-top:0px;
	text-align: center
}	
.slide-0 p 
{
 text-align: center;
 font-size:20px
}
.learn-button
{
text-align:center;
margin-bottom:20px;
}
.learn-button a
{
padding:6px 19px
}
.slide-0 img
{
	width:100%;
	max-width:320px;
	text-align:center;
}
.slide-1 img
{
	width:100%;
	max-width:260px;
	text-align:center;
}
.slide-2 img
{
	width:100%;
	max-width:260px;
	text-align:center;
}
.slide-3 img
{
	width:100%;
	max-width:430px;
	text-align:center;
}
.slide-1 h2 {
    font-size: 28px;
    padding-top: 0px;
    text-align: center;
}
.slide-1 p 
{
    text-align: center;
	font-size:20px
}
.slide-2 h2
 {
    font-size: 32px;
    padding-top: 0px;
    text-align: center;
}
.slide-2 p 
{
    text-align: center;
	font-size:20px
}
.connect-button
{
	text-align:center;
	margin-bottom:20px
}
.connect-button a
{
padding:6px 19px
}
.slide-3 h2 {
    font-size:40px;
    text-align: center;
	padding-top:0px
}
.slide-3 p
{
	text-align:center;
	font-size:20px
}
.secound-banner
 {
    padding-top: 48px;
}
.secound-banner h2
{
font-size:50px;
text-align:center
}	
.secound-banner p
 {
    font-size: 20px;
    text-align: center;
}
.link-button
{
	margin:20px auto;
}
.service 
{
 padding: 40px 0
}
.service h2 
{
font-size: 48px;
}
.service span 
{
  font-size: 20px;
}
.web {
    padding: 25px 0;
    text-align: center;
}
.case-studies
{
text-align:center
}
.case-studies img
{
width:100%;
max-width:270px;
}
.case-studies span
{
font-size:20px
}
.case-studies h2 
{
    font-size:42px;
	text-align:center;
	margin-bottom:0px
}
.case-studies h3 {
    font-size:34px;
	text-align:center
}
.microservice h2 
{
 font-size:44px;
}
.Highly
{
text-align:center;
padding:0px
}
.microservice p {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
.microservice img {
    width:100%;
	max-width:200px
}
.ERPNext h2 
{
    font-size: 44px;
}
.ERPNext p {
        font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 300px;
}
.ERPNext img {
    width:100%;
	max-width:200px;
}
/**about**/
.top-banner h2 
{
font-size:38px!important;
padding-top:0;
text-align:center
}
.top-banner p 
{
font-size:20px;
text-align:center
}
.btn-connect
{
text-align:center;
margin-bottom:30px
}
.btn-connect a
{
padding:6px 14px
}
.top-banner
{
padding:30px 0	
}
.top-banner img 
{
width:100%;
max-width:400px;
}
.company 
{
margin:20px 0;
text-align:center
}
.company h2 
{
font-size:42px;
padding-top:0
}
.company p 
{
font-size:20px;
text-align:center
}
.Domain 
{
margin-bottom:10px;
}
.work-btn
{
margin:40px 0
}
.team p 
{
    font-size:24px;
}
.our-team h2 
{
font-size:42px;
}
.clicky
{
text-align:center
}
.happy-clint h3
{
font-size:38px;
}
/**blog**/
.blog-banner h2 
{
font-size:42px;
padding-top:20px;
text-align:center
}
.blog-banner 
{
text-align:center
}
.blog-banner p 
{
font-size:19px;
text-align:center
}
.develop img 
{
width:100%;
max-width:120px;
}
.blog-form 
{
float:right;	
}
.Email-id .form-control
{
width:70%!important	
}
.blog-banner img 
{
width:100%;
max-width:200px;
}
.Email-id h4
{
font-size:18px;
padding-left:0;
}

.architecture h2 
{
font-size: 40px;
padding:0
}
.Cons h3 
{
font-size: 35px;
}
.future h3 
{
font-size: 26px;
}
.icons img
{
display: none;
}
.develop h4
{
text-align:center!important;
}
.develop p
{
text-align:center!important;
}
.develop span
{
text-align:center!important;
}
.categorie h3 
{
text-align:center
}
.choose-us h2 
{
font-size: 48px;
padding-top:20px;
text-align:center
}
.choose-us p 
{
font-size:19px;
text-align:center
}
.sooo 
{
background:#d5ebf6;
}
.sooo h2 
{
font-size:42px;
}
.sooo h3
{
font-size:30px;
}
.studies h2
{
font-size:42px;
margin-bottom:0
}
.studies h3 
{
font-size:38px;
margin-top:0;
}
.studies span
{
font-size:18px;
}
.studies p
{
font-size:18px;
}
.studies h3
{
font-size:30px;
margin-top:20px
}
.oauth
{
margin-top:0
}
.journey h3
{
font-size:32px
}
.journey p
{
font-size:18px
}
.circular img
{
display:block;
margin:0 auto
}
.our-stacks h2
{
font-size:42px;
}
.our-stacks p
{
font-size:18px;
}
.nest img
{
width:100%;
max-width:200px
}
.nest
{
display:block;
margin:0 auto
}
.studies-first
{
padding-top:0
}
.journey a
{
padding-left:43px;
}
.journey span
{
padding-left:100px;
}
#quicktabs-blog_is_categories ul li a
{
float:left;
margin-top:5px;
width:100%
}
.all a
{
float:left;
margin-top:20px;
width:100%
}
.job-banner h2 
{
font-size:37px;
padding-top:20px;
text-align:center;
}
.job-banner p 
{
font-size:17px;
text-align:center;
}
.job-banner img 
{
width:100%;
max-width:450px
}
.work h3
{
font-size:22px
}
.learn
{
text-align:center
}
.learn h4
{
	font-size:22px
}
.learn-more a
{
padding:5px 20px;	
}
.panel-heading span
{
font-size:20px;
}
.panel-heading p
{
font-size:16px;
}
.fill-form h2
{
font-size:42px;
float:none;
text-align:center
}
#block-webform-client-block-52 .form-control
{
float:left;
margin-bottom:20px
}
.fill-up p
{
text-align:center
}
.structure p 
{
font-size:20px;
}
.watch-video p
{
padding:0	
}
.structure img 
{
    width: 100%;
    max-width: 195px;
}
.architecture p 
{
font-size:18px;
margin:0
}
.pros h3
{
padding:0
}
.structure 
{
margin:0
}
.watch-video 
{
padding: 20px 0;
}
.watch-video h2 
{
    font-size: 50px;
}
.clicky h3 {
    font-size: 38px;
}
.clicky p {
font-size: 20px;}
.happy-clint
{
padding:0;
margin:0	
}
.happy-clint img {
    width: 100%;
    max-width: 200px;
}
.microservice
{
margin:0	
}
#block-quicktabs-blog-is-categories h2 {
    font-size: 36px;
    padding-bottom: 0px;
	text-align:center
}
#block-quicktabs-blog-is-categories .view-content .row img {
    width: 100%;
    max-width: 180px;
    display: block;
    margin: 0 auto;
}
#block-quicktabs-blog-is-categories .view-content .row span.text-left a {
    text-align: center;
	padding-top:16px
}
#block-quicktabs-blog-is-categories .view-content .row h4 {
    text-align: center;
}
#block-quicktabs-blog-is-categories .view-content .row p {
    text-align: center!important;
}
#block-quicktabs-blog-is-categories h2 {
    text-align: center;
}
.architecture img {
    width: 100%;
    max-width: 500px;
}

}
