#miniorange_oauth_client_app,#text_field, #callbackurl, #miniorange_oauth_client_auth_ep, #miniorange_oauth_client_access_token_ep, #miniorange_oauth_client_user_info_ep, #miniorange_oauth_client_app_name
, #miniorange_oauth_client_display_name, #miniorange_oauth_client_client_id, #miniorange_oauth_client_client_secret, #miniorange_oauth_client_scope{
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

.mo_oauth_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_oauth_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_oauth_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_oauth_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_oauth_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}
.mo_oauth_highlight_background_note_export{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 98%;
}
/*CSS for switch button*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ca2222;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 25px;
	width: 27px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2ab934;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

/*------ ADDED CSS ---------*/
.on
{
	display: none;
}

.on, .off
{
	color: white;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;}
/* END*/
.mo_oauth_tooltip {
	position: relative;
	display: inline-block;
}

.mo_oauth_tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: #737373;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;

	opacity: 0;
	transition: opacity 1s;
}

.mo_oauth_tooltip:hover + .mo_oauth_tooltiptext {
	visibility: visible;
	opacity: 1;
}

.mo_oauth_info_icon{
	margin-top: 2px;
}
.mo_oauth_row {
	margin: 10px 0px;
}
.mo_oauth_name {
	display: inline-block;
	width: 40%;
	max-width: 250px;
}
.mo_oauth_value {
	display: inline-block;
	width: 69%;
}
.mo_oauth_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_oauth_table_layout td {
	border: unset;
}
.mo_oauth_table_layout input[type=text] {
	width: 80%;
}
.mo_oauth_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_oauth_table_textbox {
	width:80%;
}
.mo_oauth_settings_table {
	width: 100%;
}
.mo_oauth_settings_table tr td:first-child {
	width: 30%;
}
.mo_oauth_heading_margin {
	margin-left: 0px;
}
.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;

	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
.mo_oauth_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_oauth_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_oauth_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;
	
}
.mo_oauth_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_oauth_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_oauth_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_oauth_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_local_table_col1{
	padding-left:5%;
}

.mo_oauth_local_table_col2{
	padding-left:20%;
}

.mo_oauth_container {
	width: 59%;
	padding: 25px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.mo_oauth_container_2 {
	width: 95%;
	padding: 25px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.mo_oauth_container_3{
	width: 40%;
	padding: 33px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.mo_oauth_table_layout_1
{
	background-color:#e0e0d8 !important;
	width: 97% !important;
	padding:2% !important;
	overflow: hidden;
}

/*.mo_saml_table_layout_support_1{
	border-radius: 4px !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
	float: left !important;
	width: 28% !important;
	background-color:#FFFFFF !important;
	border:1px solid #CCCCCC !important;
	padding:25px !important;
	margin-bottom: 10px !important;
}*/

.mo_saml_table_layout_support_1{
	border-radius: 4px;
	position: relative;
	width: 350px;
	border: 1px solid #CCCCCC;
	padding: 15px 20px 17px 20px;
	background-color: white;
}

.mo_saml_highlight_background_note_1{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 90%;
}
#button_config_center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius: 4px;
	background: #337ab7;
	color: #ffffff;
	text-shadow: 0 -1px 1px #337ab7, 1px 0 1px #337ab7, 0 1px 1px #337ab7, -1px 0 1px #337ab7;
	box-shadow: 0 1px 0 #337ab7;
	border-color: #337ab7 #337ab7 #337ab7;
}
#button_config{
	border-radius: 4px;
	background: #337ab7;
	color: #ffffff;
	text-shadow: 0 -1px 1px #337ab7, 1px 0 1px #337ab7, 0 1px 1px #337ab7, -1px 0 1px #337ab7;
	box-shadow: 0 1px 0 #337ab7;
	border-color: #337ab7 #337ab7 #337ab7;
}

.mo_saml_container_center {
	width: 60%;
	padding: 25px;
	border-radius: 4px !important ;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/*marketing site setup guides table*/

.mo_guide_table{
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
}

.mo_guide_table-bordered>thead>tr>th{
	border-bottom-width: 2px;
}

.mo_guide_table-bordered {
	border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {
	border: 1px solid #ddd;
}

.mo_guide_table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
}
.mo_guide_text-center {
	text-align: center;
	background-color: white;
}
.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.mo_guide_text-color {
	color: #fe7e00;
}

.mo_saml_table_layout {
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin: 0 2% 2% 0;
}

.mo_saml_table_layout input[type=text] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}

.form-textarea{

	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-textarea { width:100% !important;}}

.form-text{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-text { width:100% !important;}}

.mo_saml_table_layout_support_btn{
	position: fixed;
	top: 100px;
	z-index: 10000;
	right: -391px;
}

#mosaml-feedback-overlay{
	background: rgba(11, 13, 13, 0.44);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
}
.mo_saml_div_center_style{
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.mo_td_values{
	font-size: 1.3em;
	font-weight: 600;
	font-family: sans-serif;
}

.mo_saml_attr_button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.mo_saml_container_2{
	width: 29%;
	padding: 33px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-right: auto;
	float: left;
	margin-left: 22px;
}

.mo_oauth_no_feature{
	padding-left: 26%;
}

.btn-primary-col {
	color: #fff;
	background-color: #d7342e;
	border-color: #d7342e;
}
.btn-primary-color {
	color: #fff;
	background-color: #32b42e;
	border-color: #32b42e;
}
.scrollit {
	overflow:scroll;
	height:345px;
}
/***************Licensing page**********************/
.mo_saml_table_layout_1
{
	background-color:#e0e0d8;
	width: 97%;
	padding:2%;
	overflow: hidden;
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding: 6px 12px;
}

.btn-primary-color {
	color: #fff;
	background-color: #32b42e;
	border-color: #32b42e;
}
.btn {
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container_1{
	width: 100%;
}
#pricing-table {
	padding-top: 30px;
}
#pricing-table li{
	height: 40px;
	color: black;
	text-align: center;
	overflow: hidden;
}
.cross_mark_h{
	font-size: 22px !important;
}
.support_styles2{
	width: 93%;
	margin-left: 14px;
}

.class_inline_1{
	width: 29%;
	display: inline-block;
	padding-top: 240px;
	padding-left: 10px;
}

.class_inline{
	width: 17%;
	display: inline-block;
	vertical-align: top;
}
#pricing-table .pricing {
	margin: 0;
	padding: 0;
	font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
	padding-bottom: 15px;
}
#pricing-table .pricing .pricing-table .pricing-header {
	position: relative;
	background: #34495e;
	padding: 6px 18px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
	font-size: 24px;
	position: relative;
	top: -30px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
	font-size: 13px;
	color: #bdc3c7;
	text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
	padding: 20px 0 40px 0;
	background: #c4baba1c;
	border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
	padding: 0px;
	display: table;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
#pricing-table .pricing .pricing-list ul li {
	list-style: none;
	border-bottom: 1px solid #EAECEB;
	color: black;
	font-size: 15px;
	padding: 15px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
	border: none;
}
#pricing-table .pricing .pricing-list ul li i {
	margin-right: 12px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
	color: #34495e;
}

.pricing-rate:last-of-type {
	margin-top:36px;
}

.pricing-title>span{
	font-size: 12px;
	letter-spacing: 1px;
}
p.pricing-title{
	height: 70px;
}
p.pricing-rate{
	margin-bottom: 50px;
}
.filler-class{
	height: 0px;
}

.mo_btn_note{
	font-size: 14px;
	cursor: default;
	border-color:#337ab7;
}
.pricing-list li:nth-of-type(2n+1) {
	background-color: rgba(23, 61, 80, 0.06);
}

/* FAQ button and Ask question on forum button*/
.mo_faq_button_left{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
	margin-left: 70px;
}

.mo_faq_button_left:hover{
	transform: scale(1.1);
}
.mo_faq_button_right{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
	margin-left: 10px;
}

.mo_faq_button_right:hover{
	transform: scale(1.1);
}
.mo_oauth_highlight_background_note_2{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 71.7%;
}
#backup_import_form{
	background-color:#FFFFFF;
    padding:1px 1px 1px 10px !important; display:none;
}
.mo_oauth_backup_download{
	display:none;
}

.mo_oauth_backup_cancel{
	float:right;
}